{% extends 'app/base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
   <h3>Login</h3>
   <hr>
   <form action="" method="post" novalidate class="shadow p-5">
       {% csrf_token %}
            {% for fm in form %}
            <div class='form-group'>
            {{fm.label_tag}} {{fm}} <small class='text-danger'>{{fm.errors|striptags}}</small> <br>
            </div>
            {% endfor %}
            <small><a href="{% url 'password_reset' %}">Forgot Password ?</a></small> <br>
            <input type="submit" class="btn btn-primary mt-4" value="Login">
            <br>
            <div class="text-center text-primary fw-bold"><small>New to MedicineX ? <a href="{% url 'customerregistration' %}"
            class="text-danger">Create an Account</a> </small></div>
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <p class='alert alert-danger my-3'>{{error}}</p>
                {% endfor %}
            {% endif %}
            <!-- <a href="{% url "social:begin" "facebook" %}">Sign in with Facebook</a> -->
            
            <br><br>
       <div class="container">
        <div class="row">
          <div class="col-sm">
            <div class="col-md-12">
              <a class="btn btn-outline-dark" href="http://127.0.0.1:8000/social-auth/login/google-oauth2/" role="button" style="text-transform:none">
                <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                  Google Login &nbsp; &nbsp;
              </a>
            </div>
          </div>
  
          <br><br>
          <div class="col-sm">
            <div class="col-md-12">
              <a class="btn btn-outline-dark" href="http://localhost:8000/social-auth/login/facebook/" role="button" style="text-transform:none; margin-bottom:3px; margin-right:5px">
                <i class="fab fa-facebook" style="color: #4267B2; width:22px ; height: 22px; margin-right: 4px; margin-bottom:-4px;"></i>
                   Facebook Login
              </a>
            </div>
          </div>
         
        </div>
         </div>
       </div>
   </form>
  </div>
 </div>
</div>

{% endblock main-content %}


