{% extends 'app/base.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}
{% block main-content %}

<div class="container">
    {{response}}
    <div class="col my-4">
        <h2>Payment status regarding your order Id {{response.ORDERID}}</h2>
        {% if response.RESPCODE == '01' %}
        ORDER SUCCESS
        {% else %}
        ORDER FAILURE
        {% endif%}
    </div>
</div>
<a href="{% url 'orders' %}" class='btn btn-success shodow px-5 py-2 ms-4'>Orders</a>

{% endblock main-content %}



