{% extends 'app/base.html' %}
{% load static %}
{% block title %}Syrups{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-0">
  </div>
  <div class="col-sm-12">
   <div class='row'>
       {% for product in syrups %}
       <div class='col-sm-3 text-center mb-5'>
           <a href="{% url 'product-detail' product.id %}" class='btn'>
               <div class='item'>
                   <img src="{{product.product_image.url}}" alt="" width="200" height="200px">
                   <div class='fw-bold'>{{product.title}}</div>
                   <div class='fw-bold'>Rs. {{product.discounted_price}}</div>
                   <small class='fw-light text-decoration-line-through'>{{product.selling_price}}</small>
               </div>
           </a>
       </div>
       {% endfor %}
   </div>
  </div>
 </div>
</div>
{% endblock main-content %}


